.america-title{
  font-weight: 500;
  font-size: 28px;
  color: #1AA2EE;
}

//#malaysia {
//  .malaysia {
//    &-title {
//      font-family: 'Gilroy',sans-serif;
//      font-style: normal;
//      font-weight: 500;
//      font-size: 38px;
//      line-height: 45px;
//      text-transform: capitalize;
//      color: #212121;
//      margin: 179px 0 50px 0;
//    }
//    &-blocks {
//      display: flex;
//      flex-direction: column;
//      row-gap: 31px;
//      margin: 121px 0 135px 0;
//
//      &_block {
//        display: grid;
//        grid-template-columns: 1fr 2.8fr 1.3fr 0.5fr;
//        align-items: center;
//        padding: 18px 119px 18px 37px;
//        background: #FFFFFF;
//        box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
//
//        &-bg {
//          overflow: hidden;
//
//          img {
//            width: 100%;
//            height: 100%;
//          }
//        }
//        &-name {
//          display: flex;
//          flex-direction: column;
//          row-gap: 19px;
//          padding-left: 61px;
//
//          span {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #B5B5B5;
//
//
//          }
//          h3 {
//            font-weight: 500;
//            font-size: 28px;
//            color: #1AA2EE;
//          }
//        }
//        &-location {
//          display: flex;
//          flex-direction: column;
//          row-gap: 20px;
//
//          &_group {
//            display: flex;
//            align-items: center;
//            column-gap: 10px;
//
//            span {
//              font-family: 'Montserrat',sans-serif;
//              font-style: normal;
//              font-weight: 500;
//              font-size: 14.2373px;
//              line-height: 17px;
//              text-transform: capitalize;
//            }
//            &-icon {
//              color: #cccccc;
//              font-size: 20px;
//            }
//          }
//          p {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #212121;
//          }
//        }
//        &-age {
//          display: flex;
//          flex-direction: column;
//          row-gap: 20px;
//
//          span {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #BBBBBB;
//          }
//          p {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #212121;
//          }
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 1140px) {
//  #malaysia {
//    margin: 179px 0 135px 0;
//    .malaysia{
//      &-title {
//        margin: 0 0 50px 0;
//      }
//      &-blocks {
//        margin: 121px 0 0 0;
//
//        &_block {
//          padding: 18px 60px 18px 37px;
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 1024px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 1fr 2.3fr 1.3fr 0.8fr;
//          padding: 18px 30px 18px 37px;
//
//          &-name {
//            h3 {
//              font-size: 22px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 851px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 230px auto;
//          grid-template-areas:
//            "bg name"
//            "bg location"
//        ;
//          column-gap: 50px;
//          padding: 18px 0 18px 25px;
//
//          &-bg {
//            grid-area: bg;
//            height: auto;
//          }
//          &-name {
//            grid-area: name;
//            padding: 0;
//            row-gap: 5px;
//          }
//          &-location {
//            grid-area: location;
//            row-gap: 5px;
//          }
//          &-age {
//            display: none;
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 711px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        margin: 60px 0 0 0;
//      }
//    }
//  }
//
//}
//
//@media (max-width: 576px) {
//  #malaysia{
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 1.8fr 3fr;
//          column-gap: 24px;
//          padding: 18px 10px 18px 25px;
//
//          &-bg {
//            height: 160px;
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 500px) {
//  #malaysia {
//    .malaysia{
//      &-blocks {
//        &_block {
//          grid-template-columns: 1.8fr 2fr;
//
//          &-bg {
//            height: 120px;
//          }
//          &-name {
//            span {
//              font-size: 14px;
//            }
//            h3 {
//              font-size: 18px;
//            }
//          }
//          &-location {
//            &_group {
//              span {
//                font-size: 14px;
//              }
//              &_icon {
//                font-size: 14px;
//              }
//            }
//            p {
//              font-size: 16px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 451px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 1.5fr 2fr;
//
//          &-bg {
//            height: 110px;
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 400px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 128px auto;
//          padding: 12px 0 12px 15px;
//
//          &-bg {
//            height: 108px;
//          }
//          &-name {
//            span {
//              font-size: 12px;
//            }
//            h3 {
//              font-size: 16px;
//            }
//          }
//          &-location {
//            &_group {
//              span {
//                font-size: 12px;
//              }
//              &-icon {
//                display: none;
//              }
//            }
//            p {
//              font-size: 14px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//}

//#malaysia {
//  .malaysia {
//    &-title {
//      font-family: 'Gilroy',sans-serif;
//      font-style: normal;
//      font-weight: 500;
//      font-size: 38px;
//      line-height: 45px;
//      text-transform: capitalize;
//      color: #212121;
//      margin: 179px 0 50px 0;
//    }
//    &-blocks {
//      display: flex;
//      flex-direction: column;
//      row-gap: 31px;
//      margin: 121px 0 135px 0;
//
//      &_block {
//        display: grid;
//        grid-template-columns: 1fr 2.8fr 1.3fr 0.5fr;
//        align-items: center;
//        padding: 18px 119px 18px 37px;
//        background: #FFFFFF;
//        box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
//
//        &-bg {
//          overflow: hidden;
//
//          img {
//            width: 100%;
//            height: 100%;
//          }
//        }
//        &-name {
//          display: flex;
//          flex-direction: column;
//          row-gap: 19px;
//          padding-left: 61px;
//
//          span {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #B5B5B5;
//
//
//          }
//          h3 {
//            font-weight: 500;
//            font-size: 28px;
//            color: #1AA2EE;
//          }
//        }
//        &-location {
//          display: flex;
//          flex-direction: column;
//          row-gap: 20px;
//
//          &_group {
//            display: flex;
//            align-items: center;
//            column-gap: 10px;
//
//            span {
//              font-family: 'Montserrat',sans-serif;
//              font-style: normal;
//              font-weight: 500;
//              font-size: 14.2373px;
//              line-height: 17px;
//              text-transform: capitalize;
//            }
//            &-icon {
//              color: #cccccc;
//              font-size: 20px;
//            }
//          }
//          p {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #212121;
//          }
//        }
//        &-age {
//          display: flex;
//          flex-direction: column;
//          row-gap: 20px;
//
//          span {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #BBBBBB;
//          }
//          p {
//            font-family: 'Montserrat',sans-serif;
//            font-style: normal;
//            font-weight: 500;
//            font-size: 14.2373px;
//            line-height: 17px;
//            text-transform: capitalize;
//            color: #212121;
//          }
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 1140px) {
//  #malaysia {
//    margin: 179px 0 135px 0;
//    .malaysia{
//      &-title {
//        margin: 0 0 50px 0;
//      }
//      &-blocks {
//        margin: 121px 0 0 0;
//
//        &_block {
//          padding: 18px 60px 18px 37px;
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 1024px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 1fr 2.3fr 1.3fr 0.8fr;
//          padding: 18px 30px 18px 37px;
//
//          &-name {
//            h3 {
//              font-size: 22px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 851px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 230px auto;
//          grid-template-areas:
//            "bg name"
//            "bg location"
//        ;
//          column-gap: 50px;
//          padding: 18px 0 18px 25px;
//
//          &-bg {
//            grid-area: bg;
//            height: auto;
//          }
//          &-name {
//            grid-area: name;
//            padding: 0;
//            row-gap: 5px;
//          }
//          &-location {
//            grid-area: location;
//            row-gap: 5px;
//          }
//          &-age {
//            display: none;
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 711px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        margin: 60px 0 0 0;
//      }
//    }
//  }
//
//}
//
//@media (max-width: 576px) {
//  #malaysia{
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 1.8fr 3fr;
//          column-gap: 24px;
//          padding: 18px 10px 18px 25px;
//
//          &-bg {
//            height: 160px;
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 500px) {
//  #malaysia {
//    .malaysia{
//      &-blocks {
//        &_block {
//          grid-template-columns: 1.8fr 2fr;
//
//          &-bg {
//            height: 120px;
//          }
//          &-name {
//            span {
//              font-size: 14px;
//            }
//            h3 {
//              font-size: 18px;
//            }
//          }
//          &-location {
//            &_group {
//              span {
//                font-size: 14px;
//              }
//              &_icon {
//                font-size: 14px;
//              }
//            }
//            p {
//              font-size: 16px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 451px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 1.5fr 2fr;
//
//          &-bg {
//            height: 110px;
//          }
//        }
//      }
//    }
//  }
//
//}
//
//@media (max-width: 400px) {
//  #malaysia {
//    .malaysia {
//      &-blocks {
//        &_block {
//          grid-template-columns: 128px auto;
//          padding: 12px 0 12px 15px;
//
//          &-bg {
//            height: 108px;
//          }
//          &-name {
//            span {
//              font-size: 12px;
//            }
//            h3 {
//              font-size: 16px;
//            }
//          }
//          &-location {
//            &_group {
//              span {
//                font-size: 12px;
//              }
//              &-icon {
//                display: none;
//              }
//            }
//            p {
//              font-size: 14px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//}

