.explore-tabs {
  display: flex;
  align-items: center;
  column-gap: 55px;
  margin: 44px 0 112px 0;

  &_tab {
    position: relative;

    input {
      display: none;
    }
    &-label {
      display: flex;
      align-items: center;
      column-gap: 16px;
      width: 222px;

      span {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: #010D39;
      }

      &_icon {
        font-size: 24px;
        color: #E8C94D;
      }
    }
    &-wrap {
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.82);
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      max-height: 0;
      overflow: hidden;

      &_block {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 16px;
        border-radius: 3px;
        padding: 22px 15px 46px 15px;

        p {
          font-weight: 500;
          font-size: 13px;
          color: #212121;
        }
      }
    }
    input:checked + .explore-tabs_tab-label .explore-tabs_tab-label_icon {
      transform: rotate(180deg);
    }
    input:checked ~ .explore-tabs_tab-wrap {
      max-height: 184px;
    }
  }
}

@media (max-width: 1200px) {
  .explore-tabs {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .explore-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: normal;
    gap: 28px;
    margin: 0;

    &_tab {
      input {
        display: none;
      }
      &-label {
        display: flex;
        align-items: center;
        column-gap: 15px;
        width: 100%;

        span {
          font-size: 18px;
        }
        &_icon {
          font-size: 18px;
          color: #E8C94D;
        }
      }
      &-wrap {
        top: 32px;
        left: 0;
        width: 100%;
        z-index: 500;

        &_block {
          a {
            font-size: 14px;
          }
        }
      }
      input:checked ~ .explore-tabs_tab-wrap {
        max-height: 220px;
      }
    }
  }

}

@media (max-width: 711px) {
  .explore-tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 19px 0;
    margin: 0;

    &_tab {
      input {
        display: none;
      }
      &-label {
        display: flex;
        align-items: center;
        column-gap: 15px;
        width: auto;

        span {
          font-size: 14px;
        }
        &_icon {
          font-size: 18px;
          color: #E8C94D;
        }
      }
      &-wrap {
        top: 32px;
        left: 0;
        width: 100%;
        z-index: 500;

        &_block {
          a {
            font-size: 14px;
          }
        }
      }
      input:checked ~ .explore-tabs_tab-wrap {
        max-height: 220px;
      }
    }
    .tab1 {
      width: 188px;
    }
    .tab2 {
      width: 144px;
    }
    .tab3 {
      width: 188px;
    }
  }

}

@media (max-width: 576px) {
  .explore-tabs {
    justify-content: normal;
    gap: 22px 30px;

    &_tab {
      &-label {
        span {
          font-size: 16px;
        }
      }
      &-wrap {
        top: 32px;
        left: 0;
        width: 100%;
        z-index: 500;

        &_block {
          a {
            font-size: 14px;
          }
        }
      }
      input:checked ~ .explore-tabs_tab-wrap {
        max-height: 200px;
      }
    }
    .tab2 {
      width: 45%;
    }
  }

}

@media (max-width: 400px) {
  .explore-tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 19px 0;
    margin: 0;

    &_tab {
      input {
        display: none;
      }
      &-label {
        display: flex;
        align-items: center;
        column-gap: 15px;
        width: auto;

        span {
          font-size: 14px;
        }
        &_icon {
          font-size: 18px;
          color: #E8C94D;
        }
      }
      &-wrap {
        top: 32px;
        left: 0;
        width: 100%;
        z-index: 500;

        &_block {
          a {
            font-size: 14px;
          }
        }
      }
      input:checked ~ .explore-tabs_tab-wrap {
        max-height: 220px;
      }
    }
    .tab1 {
      width: 188px;
    }
    .tab2 {
      width: 144px;
    }
    .tab3 {
      width: 188px;
    }
  }

}