.description {
  padding: 50px 0;

p{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
  padding: 10px;
}


}

@media (max-width: 1024px) {
  .description {
    column-gap: 40px;


    &-desc {
      &_group {
        column-gap: 50px;
        margin-bottom: 46px;

        &-desc {
          h2 {
            font-size: 30px;
          }

          p {
            font-size: 18px;
          }
        }
      }

      &_desc {
        &-group {
          display: grid;
          grid-template-columns: 1fr 1.7fr;
          align-items: start;
          column-gap: 21px;

          span {
            font-size: 18px;
          }

          p {
            font-size: 18px;
          }

          .short-line1 {
            padding-bottom: 10px;
          }
        }

        .group-1 {
          margin-bottom: 30px;
        }

        .group-2 {
          padding-bottom: 20px;
        }

        .group-3 {
          margin-bottom: 30px;
          padding-bottom: 20px;
        }

        .group-4 {
          margin-bottom: 29px;
        }
      }
    }

    &-block {
      &_group {
        &-desc {
          span {
            font-size: 18px;
          }

          p {
            font-size: 18px;
          }
        }
      }

      &_message {
        p {
          font-size: 18px;
        }
      }

      .group3 {
        margin: 0;
        padding: 20px 0 40px 0;
        border-bottom: 1px solid #212121;
      }
    }

  }

}

@media (max-width: 768px) {
  .description {
    grid-template-columns: 1fr;
    column-gap: 40px;

    &-desc {
      padding: 48px 0 90px 0;
    }

    &-block {
      margin: 0 auto 160px auto;
      width: 86%;
    }

  }

}

@media (max-width: 451px) {
  .description {
    margin: 25px 0 100px 0;

    &-desc {
      padding: 0;
      margin-bottom: 64px;

      &_group {
        margin-bottom: 48px;

        &-desc {
          h2 {
            font-size: 16px;
          }

          p {
            font-size: 18px;
          }
        }
      }
      &_desc {
        &-group {
          grid-template-columns: 1fr;
          gap: 8px 0;

          span {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
          .entry-parag {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }
        .group-1 {
          margin-bottom: 28px;
        }
        .group-2 {
          padding-bottom: 28px;
          margin-bottom: 28px;
          border-bottom: 1px solid #212121;
        }
        .group-5 {
          padding-bottom: 28px;
          margin-bottom: 28px;
          border-bottom: 1px solid #212121;
          p {
            font-size: 16px;
            .first-p {
              margin-bottom: 0;
            }
          }
        }
        .group-6 {
          padding: 0;
          margin: 0 0 12px 0;
          border: none;
          p.short-line1 {
            border: none;
          }
        }
      }
    }
    &-block {
      width: 100%;
      padding: 18.67px 25.40px 51.93px 25.40px;
      margin: 0;

      &_top {
        padding: 14.19px 29.13px;

        p {
          font-size: 16.432px;

          span {
            font-size: 16.432px;
          }
        }
      }
      &_group {
        &-desc {
          span {
            font-size: 16px;
          }
          p {
            font-size: 16px;
          }
          .p1 {
            margin: 3px 0;
          }
        }
      }
      &_block {
        padding: 11.47px 51px;

        span {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
      }
      &_message {
        column-gap: 10px;
        margin: 15px 0;

        &-circle {
          width: 24px;
          height: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      .group3 {
        padding: 0 0 29.68px 0;
        border-bottom: 1px solid #212121;
      }
      &_social {
        column-gap: 13.64px;
        margin-top: 33.33px;

        span {
          font-size: 16px;
        }
        &-blocks {
          column-gap: 18px;

          &_circle {
            width: 32px;
            height: 32px;

            &-icon {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}