#second{
  margin: 100px 0;
  .container{
    .second{
     p{
       font-family: 'Montserrat',sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 22px;
       line-height: 175.9%;
       text-transform: capitalize;
       color: #010D39;
       padding: 20px 0;
     }
    }
  }
}